* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	background-color: #232323;
	padding:100px;
}
h1 {
	color:white;
	text-align:center;
	margin:50px;
}
p {
	background-color:orange;
	padding:100px;
}
h2 {
	background-color:green;
	padding:50px;
}